<!DOCTYPE HTML>
<html lang="en">
<head>
<title>About</title>
<link href="../static/css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary JavaScript plugins) -->
<script src="../static/js/jquery.min.js"></script>
<!-- Custom Theme files -->
<link href="../static/css/dashboard.css" rel="stylesheet">
<link href="../static/css/style.css" rel='stylesheet' type='text/css' />
<!--//Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Rissner Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
</head>
<body>
<!-- header -->
<div class="col-md-2 sidebar">
		  <div class="sidebar_top">
			 <h1><a href="index.html">RISS<span>NER</span></a></h1>
		 </div>
		 <div class="top-navigation">
				<div class="t-menu">MENU</div>
				<div class="t-img">
					<img src="../static/images/lines.png" alt="" />
				</div>
				<div class="clearfix"> </div>
		</div>
		<div class="drop-navigation">
			 <div class="top-menu">

				 <ul>
                     <li class="active"><a href="/">主页</a></li>
					 <li><a href="/about">关于</a></li>
					 <li><a href="/analyse/1/上海/1">数据分析</a></li>
					 <li><a href="/predict">价格预测</a></li>
                     <li><a href="/query">信息查询</a></li>
					 <li><a href="">CONTACT</a></li>
				 </ul>
			 </div>
			<!-- script-for-menu -->
							<script>
								$( ".top-navigation" ).click(function() {
								$( ".drop-navigation" ).slideToggle( 300, function() {
								// Animation complete.
								});
								});
							</script>

			 <div class="side-btm">
				<div class="social-icons">
						<ul>
							<li><a href="#"><span class="fa"> </span></a></li>
							<li><a href="#"><span class="tw"> </span></a></li>
							<li><a href="#"><span class="g"> </span></a></li>
							<li><a href="#"><span class="in"> </span></a></li>
						</ul>
						<div class="clearfix"></div>
				</div>
				<div class="copyright">
					<p>联系方式：123456789@qq.com.<a target="_blank" href="">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
				</div>
			 </div>
		</div>
</div>

<div class="main-page">
    <div class="about-list">

        <dl class="about1">
            <h2 class="inline">关于我们:本系统分为三个功能模块</h2>

        </dl>
        <br>

        <dl class="about1">
            <h2 class="inline">二手房房价分析:
            </h2>


            <h3>对不同等级城市的链家二手房房源数据进行分析</h3>
        </dl>
        <br>

        <dl class="about1">
            <h2 class="inline">二手房价格预测:</h2>
            <h3>经过数据整理以及数据清洗后建立训练模型，对下一阶段的二手房房价进行较为精准的预测.</h3>

        </dl>
        <br>

        <dl class="about1">
            <h2 class="inline">在售二手房查询:</h2>
            <h3>通过爬虫实时爬取链家在手二手房数据，然后展示在该页面供用户进行查询.</h3>
        </dl>


    </div>
</div>

<div class="clearfix"></div>
<!---->

<!---->
</body>
</html>