<!DOCTYPE HTML>
<html lang="en">
<head>
<title>Projects</title>
<link href="../static/css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary JavaScript plugins) -->
<script src="../static/js/jquery.min.js"></script>
<!-- Custom Theme files -->
 <link href="../static/css/dashboard.css" rel="stylesheet">
<link href="../static/css/style.css" rel='stylesheet' type='text/css' />
<!--//Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Rissner Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<!-- start menu -->
</head>
<body>
<!-- header -->
<div class="col-md-2 sidebar">
		 <div class="sidebar_top">
			 <h1><a href="index.html">PRE<span>DICT</span></a></h1>
		 </div>
		<div class="top-navigation">
				<div class="t-menu">MENU</div>

				<div class="t-img">
					<img src="../static/images/lines.png" alt="" />
				</div>
				<div class="clearfix"> </div>
		</div>
		<div class="drop-navigation">
			 <div class="top-menu">

                 <ul>
                     <li class="active"><a href="/">主页</a></li>
					 <li><a href="/about">关于</a></li>
					 <li><a href="/analyse/1/上海/1">数据分析</a></li>
					 <li><a href="/predict">价格预测</a></li>
                     <li><a href="/query">信息查询</a></li>
					 <li><a href="">CONTACT</a></li>
				 </ul>
			 </div>
			<!-- script-for-menu -->
							<script>
								$( ".top-navigation" ).click(function() {
								$( ".drop-navigation" ).slideToggle( 300, function() {
								// Animation complete.
								});
								});
							</script>

			 <div class="side-btm">
				 <div class="social-icons">
						<ul>
							<li><a href="#"><span class="fa"> </span></a></li>
							<li><a href="#"><span class="tw"> </span></a></li>
							<li><a href="#"><span class="g"> </span></a></li>
							<li><a href="#"><span class="in"> </span></a></li>
						</ul>
						<div class="clearfix"></div>
				 </div>
				<div class="copyright">
					<p>联系方式：123456789@qq.com<a target="_blank" href=""></a></p>
				</div>
			 </div>
		</div>
</div>

<div class="main-page">
    <div class="pre-list">

        <dl class="select">
            <h2 style="color: #373739" class="inline">房价预测:</h2>
        </dl>

        <form class="select" action="" method="post">

                <h2 style="color: #373739" class="inline">地区:</h2>
                <input type="text" value="浦东" name="region" class="formText">

                <h2 style="color: #373739" class="inline">楼层:</h2>
                <input type="text" value="6" name="floor" class="formText">


                <h2 style="color: #373739" class="inline">户型:</h2>
                <select name="type">
                    <option value="1室0厅">1室0厅</option>
                    <option value="1室1厅">1室1厅</option>
                    <option value="2室1厅">2室1厅</option>
                    <option value="2室2厅">2室2厅</option>
                    <option value="3室1厅">3室1厅</option>
                    <option value="3室2厅" selected>3室2厅</option>
                    <option value="4室2厅">4室2厅</option>
                    <option value="">其他</option>
                </select>

                <h2 style="color: #373739" class="inline">买房日期</h2>
                <input type="text" name="date" style="width: 100px" class="formText">

            <input type="submit" value = "预测" class="summit">
    </form>
        <div style="margin: 50px 50px; font-size: 40px;">预测房价为 {{ value }} 元/平米</div>
    <!--图表区域-->
    <iframe src="{{ pic_url }}" style="margin-left: 110px; margin-top: 100px" width="1000px" height= "500px" name="topFrame"
    scrolling="No"  noresize="noresize" frameborder="0" id="topFrame"></iframe>

    <!--图表区域-->
    </div>
</div>

<div class="clearfix"></div>
<!---->

<!---->
</body>
</html>