<!DOCTYPE HTML>
<html lang="en">
<head>
<title>Projects</title>
<link href="../static/css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary JavaScript plugins) -->
<script src="../static/js/jquery.min.js"></script>
<!-- Custom Theme files -->
 <link href="../static/css/dashboard.css" rel="stylesheet">
<link href="../static/css/style.css" rel='stylesheet' type='text/css' />
<!--//Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Rissner Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<!-- start menu -->
</head>
<body>
<!-- header -->
<div class="col-md-2 sidebar">
		 <div class="sidebar_top">
			 <h1><a href="index.html">PRE<span>DICT</span></a></h1>
		 </div>
		<div class="top-navigation">
				<div class="t-menu">MENU</div>

				<div class="t-img">
					<img src="../static/images/lines.png" alt="" />
				</div>
				<div class="clearfix"> </div>
		</div>
		<div class="drop-navigation">
			 <div class="top-menu">

                 <ul>
                     <li class="active"><a href="index">HOMEPAGE</a></li>
					 <li><a href="about">ABOUT</a></li>
					 <li><a href="analyse">DATA ANALYSE</a></li>
					 <li><a href="predict">DARA PREDICT</a></li>
					 <li><a href="typo">ON SALE</a></li>
					 <li><a href="">CONTACT</a></li>
				 </ul>
			 </div>
			<!-- script-for-menu -->
							<script>
								$( ".top-navigation" ).click(function() {
								$( ".drop-navigation" ).slideToggle( 300, function() {
								// Animation complete.
								});
								});
							</script>

			 <div class="side-btm">
				 <div class="social-icons">
						<ul>
							<li><a href="#"><span class="fa"> </span></a></li>
							<li><a href="#"><span class="tw"> </span></a></li>
							<li><a href="#"><span class="g"> </span></a></li>
							<li><a href="#"><span class="in"> </span></a></li>
						</ul>
						<div class="clearfix"></div>
				 </div>
				<div class="copyright">
					<p>联系方式：123456789@qq.com<a target="_blank" href=""></a></p>
				</div>
			 </div>
		</div>
</div>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">	 
	  <div class="side-content">
	      <div class="banner">
		      <script src="../static/js/responsiveslides.min.js"></script>
			  <script>
					$(function () {
					  $("#slider").responsiveSlides({
						auto: true,
						nav: false,
						speed: 500,
						namespace: "callbacks",
						pager: true,
					  });
					});
			 </script>
			 <div class="slider">
				 <div class="callbacks_container">
				     <ul class="rslides" id="slider">
						 <li>
							<h2 class="topic">北京二手房价格趋势</h2>
							 <h3>Beijing second-hand housing price development trend。</h3>
						 </li>
						 <li>
							<h2 class="topic">上海在售二手房一览</h2>
							 <h3>An overview of second-hand homes for sale in Shanghai.</h3>
						 </li>
						 <li>
							<h2 class="topic">各线城市二手房价格比较</h2>
							 <h3>Comparison of second-hand housing prices in various cities.</h3>
						 </li>
					  </ul>
				 </div>
			 </div>

		  </div>
	  </div>

	  <div class="side-pics">
			 <img src="../static/images/pic1.jpg" class="img-responsive pic1" alt=""/>
			 <img src="../static/images/pic4.jpg" class="img-responsive pic1" alt=""/>
	 </div>
		<div class="clearfix"></div>
	 <!----->

	 <div class="projects">
	     <h3>在售二手房</h3>
	     <div class="project-sec">
			 <div class="col-md-3 prjt-grid">
			     <img src="../static/images/pic1.jpg" class="img-responsive" alt=""/>
				 <ul class="prjt-list">
					<h4>{Project1}</h4>
					<li><a href="">Aluminium Fabricators</a></li>
					<li><a href="">Marine engineering service</a></li>
					<li><a href="">Diesel Engines</a></li>
					<li><a href="">Ship Building Equipment & Supplies</a></li>
					<li><a href="">Stainless Steel Services</a></li>			
				 </ul>
			 </div>
			 <div class="col-md-3 prjt-grid">
			     <img src="../static/images/pic2.jpg" class="img-responsive" alt=""/>
				 <ul class="prjt-list">
					<h4>Project#2</h4>
					<li><a href="">Aluminium Fabricators</a></li>
					<li><a href="">Marine engineering service</a></li>
					<li><a href="">Diesel Engines</a></li>
					<li><a href="">Ship Building Equipment & Supplies</a></li>
					<li><a href="">Stainless Steel Services</a></li>			
				 </ul>
			 </div>
			 <div class="col-md-3 prjt-grid">
			     <img src="../static/images/pic3.jpg" class="img-responsive" alt=""/>
				 <ul class="prjt-list">
					<h4>Project#3</h4>
					<li><a href="">Aluminium Fabricators</a></li>
					<li><a href="">Marine engineering service</a></li>
					<li><a href="">Diesel Engines</a></li>
					<li><a href="">Ship Building Equipment & Supplies</a></li>
					<li><a href="">Stainless Steel Services</a></li>			
				 </ul>
			 </div>
			 <div class="col-md-3 prjt-grid">
			     <img src="../static/images/pic4.jpg" class="img-responsive" alt=""/>
				 <ul class="prjt-list">
					<h4>Project#4</h4>
					<li><a href="">Aluminium Fabricators</a></li>
					<li><a href="">Marine engineering service</a></li>
					<li><a href="">Diesel Engines</a></li>
					<li><a href="">Ship Building Equipment & Supplies</a></li>
					<li><a href="">Stainless Steel Services</a></li>			
				 </ul>
			 </div>
			 <div class="clearfix"></div>
		 </div>
		 <div class="project-sec">
			 <div class="col-md-3 prjt-grid">
			     <img src="../static/images/pic7.jpg" class="img-responsive" alt=""/>
				 <ul class="prjt-list">
					<h4>Project#5</h4>
					<li><a href="">Aluminium Fabricators</a></li>
					<li><a href="">Marine engineering service</a></li>
					<li><a href="">Diesel Engines</a></li>
					<li><a href="">Ship Building Equipment & Supplies</a></li>
					<li><a href="">Stainless Steel Services</a></li>			
				 </ul>
			 </div>
			 <div class="col-md-3 prjt-grid">
			     <img src="../static/images/pic6.jpg" class="img-responsive" alt=""/>
				 <ul class="prjt-list">
					<h4>Project#6</h4>
					<li><a href="">Aluminium Fabricators</a></li>
					<li><a href="">Marine engineering service</a></li>
					<li><a href="">Diesel Engines</a></li>
					<li><a href="">Ship Building Equipment & Supplies</a></li>
					<li><a href="">Stainless Steel Services</a></li>			
				 </ul>
			 </div>
			 <div class="col-md-3 prjt-grid">
			     <img src="../static/images/pic5.jpg" class="img-responsive" alt=""/>
				 <ul class="prjt-list">
					<h4>Project#7</h4>
					<li><a href="">Aluminium Fabricators</a></li>
					<li><a href="">Marine engineering service</a></li>
					<li><a href="">Diesel Engines</a></li>
					<li><a href="">Ship Building Equipment & Supplies</a></li>
					<li><a href="">Stainless Steel Services</a></li>			
				 </ul>
			 </div>
			 <div class="col-md-3 prjt-grid">
			     <img src="../static/images/pic8.jpg" class="img-responsive" alt=""/>
				 <ul class="prjt-list">
					<h4>Project#8</h4>
					<li><a href="">Aluminium Fabricators</a></li>
					<li><a href="">Marine engineering service</a></li>
					<li><a href="">Diesel Engines</a></li>
					<li><a href="">Ship Building Equipment & Supplies</a></li>
					<li><a href="">Stainless Steel Services</a></li>			
				 </ul>
			 </div>
			 <div class="clearfix"></div>
		 </div>
	 </div>	 
	 <!-- footer -->
		<div class="footer">
				 <div class="footer-grids">
					 <div class="col-md-6 ftr-grid1">
						 <h4>About</h4>
						 <p>Nam ac interdum dui, eget iaculis augue. Cras sagittis orci leo, quis luctus diam sollicitudin in. Nullam in convallis sem. Aliquam erat felis, iaculis ac semper et, congue feugiat nibh. Nullam commodo fermentum venenatis.</p>
						 
					 </div>
					 <div class="col-md-6 news-ltr">
						 <h4>Newsletter</h4>
						 <p>Aenean sagittis est eget elit pulvinar cursus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus non purus at risus consequat finibus.</p>
						 <form>					 
							  <input type="text" class="text" value="Enter Email" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'Enter Email';}">
							 <input type="submit" value="Subscribe">
							 <div class="clearfix"></div>
						 </form>
					</div>
					 <div class="clearfix"></div>
				 </div>		 
		</div>
		 <!----->
</div>
<div class="clearfix"></div>
<!---->

<!---->
</body>
</html>